.navbar-expand-lg .navbar-toggler {
  display: block !important;
}
.nav-link{
  margin-left: 10px;
  margin-right: 10px;
}
.nav-link:hover{
  color: rgb(51, 78, 176);
}



.form_container {
  background-color: #fff;
  padding: 2rem 3rem;
  border-radius: 0.5rem;
  width: 100%;
  /* max-width: 400px; */
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form_container > h2 {
  margin-top: 5rem;
  /* margin-block: 1rem; */
  padding-block: 0.6rem;
  color: rgb(0, 0, 0);
  text-align: center;
}

.form_container > form {
  width: 50%;
  display: flex;
  flex-direction: column;
  gap: 1.4rem;
  /* align-items: center; */
}

.form_container div {
  display: flex;
  flex-direction: column;
  gap: 0.3rem;
}

.form_container input {
  border: none;
  padding: 0.5rem;
  border-bottom: 1px solid gray;
  font-size: 1.1rem;
  outline: none;
}

.form_container input::placeholder {
  font-size: 0.9rem;
  font-style: italic;
}

.form_container button {
  background-color: rgb(6, 127, 226);
  /* width: 50%; */
  color: #fff;
  border: none;
  padding: 0.6rem;
  font-size: 1rem;
  cursor: pointer;
  border-radius: 0.3rem;
}

.form_container
button:hover {
  background-color: rgb(59, 151, 226);
}
